<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Peajes</title>
</head>
<body>
  <h1>Peajes</h1>
  <a href="/registrar">Registrar</a>
  <table id="tablaRegistros">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Peaje</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Valor</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="cuerpoTabla">
      <!-- Filas se llenarán dinámicamente -->
    </tbody>
  </table>

  <script src="listar.js"></script>
</body>
</html>
